<a href="https://colab.research.google.com/github/Swostik/Assignment1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [10]:
!python -m pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.6/dist-packages (2.12.0)

In [12]:
!python -m pip install dask[dataframe]

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.6/dist-packages (2.12.0)
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/ec/80/72ac0982cc833945fada4b76c52f0f65435ba4d53bc9317d1c70b5f7e7d5/fsspec-0.8.5-py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 3.8MB/s
Requirement already satisfied: toolz>=0.7.3; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied: pandas>=0.23.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.1.5)
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.13.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2018.9)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (1.15.0)
Building wheels for collected packages: locket
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4041 sha256=692cd74438a7ea4609c93295f614ed0bed407b09e2aa4122d8b842d008a90bce
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built locket
Installing collected packages: fsspec, locket, partd
Successfully installed fsspec-0.8.5 locket-0.2.0 partd-1.1.0

In [13]:
import dask.dataframe as dd

In [15]:
df = dd.read_csv("/content/drive/My Drive/Parking_Violations_Issued_-_Fiscal_Year_2017.csv")

In [16]:
df.head()

   Summons Number Plate ID  ... Hydrant Violation Double Parking Violation
0      5092469481  GZH7067  ...               NaN                      NaN
1      5092451658  GZH7067  ...               NaN                      NaN
2      4006265037  FZX9232  ...               NaN                      NaN
3      8478629828  66623ME  ...               NaN                      NaN
4      7868300310  37033JV  ...               NaN                      NaN

[5 rows x 43 columns]

In [20]:
from dask import compute

In [24]:
compute(df.isnull().sum())

/usr/local/lib/python3.6/dist-packages/dask/core.py:121: DtypeWarning: Columns (18,38) have mixed types.Specify dtype option on import or set low_memory=False.
  return func(*(_execute_task(a, cache) for a in args))

(Summons Number                              0
 Plate ID                                  728
 Registration State                          0
 Plate Type                                  0
 Issue Date                                  0
 Violation Code                              0
 Vehicle Body Type                       42711
 Vehicle Make                            73050
 Issuing Agency                              0
 Street Code1                                0
 Street Code2                                0
 Street Code3                                0
 Vehicle Expiration Date                     0
 Violation Location                    2072400
 Violation Precinct                          0
 Issuer Precinct                             0
 Issuer Code                                 0
 Issuer Command                        2062645
 Issuer Squad                          2063541
 Violation Time                             63
 Time First Observed                   9962281
 Violation County                        39547
 Violation In Front Of Or Opposite     2161235
 House Number                          2288618
 Street Name                              4009
 Intersecting Street                   7435473
 Date First Observed                         0
 Law Section                                 0
 Sub Division                              773
 Violation Legal Code                  8740321
 Days Parking In Effect                2712416
 From Hours In Effect                  5450946
 To Hours In Effect                    5450943
 Vehicle Color                          152342
 Unregistered Vehicle?                 9675432
 Vehicle Year                                0
 Meter Number                          9017555
 Feet From Curb                              0
 Violation Post Code                   3190187
 Violation Description                 1127470
 No Standing or Stopping Violation    10803028
 Hydrant Violation                    10803028
 Double Parking Violation             10803028
 dtype: int64,)